.contactSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.heading {
    width: 100%;
    text-align: center;
}

.contactSection h2 {
    text-align: center;
}

.contactDetails .mail {
    text-align: center;
    border-bottom: 2px solid #F7C859;
    padding: 5px;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
}

.socials i {
    font-size: 30px;
    cursor: pointer;
}

.socials a {
    color: #EAE8E3;
}