.experience {
    min-height: 80vh;
    text-align: center;
    margin: 20px 0;
}

.experience .content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.content img {
    width: 300px;
    margin-top: 40px;
}