section {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;

}

.rightImage img {
    width: 300px;
    border-radius: 30px;
    box-shadow: 0 5px 8px #333232;
}

.rightImage {
    margin: auto;
}

.leftText {
    margin: 0 2%;
}

.primaryPara {
    padding-bottom: 20px;
}
.primaryPara h2{
    color: #F7C859;
}
@media(min-width:768px) {
    section {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 6rem;


    }

    .rightImage {
        margin: 0 2%;

    }
    .leftText{
        font-size: larger;
    }
}