section {
    display: flex;
    flex-direction: column;

    margin-top: 100px;
    /* border-bottom: 1px solid #333232; */

}

.rightImage img {
    width: 300px;
    border-radius: 30px;
}

.rightImage {
    margin: auto;
}

.leftText {
    margin: 0 2%;
}

@media(min-width:780px) {
    section {
        flex-direction: row;
        justify-content: space-between;
    }

    .rightImage {
        margin: 0 2%;

    }
}