#about {
    margin: 10px -10px;
    padding: 90px 20px 80px 20px;
    background-image: url('/images/background-clown-image3.png');
    /* background-attachment: fixed; */
    background-size: contain;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 40vh;
}

.subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;

}

.leftText {
    margin: 10px 2%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 15px;

}

.skillItem:hover {
    transform: scale(1.04);
}

.descriptionHero {
    display: flex;
    flex-direction: column;
}
.skillHeader{
    margin-bottom: 20px;
}
.skillHeader h2{
    margin: 5px 0;
}
.para {
    background-color: rgba(0, 0, 0, 0.8);
    flex: 1;
}

.skillsHero {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
}
.imagePfp{
    padding-bottom: 20px;
}
.imagePfp img {
    border-radius: 50%;
}

.profile {
    display: flex;
    flex-direction: row;
}
.nameAndLocation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.nameAndLocation p{
    margin: 0;
}
.skillsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.skillItem{
    flex: 1 1 100px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.5s ease;

}
@media(max-width:768px) {
    .profile .imagePfp {
        margin-right: 20px;
    }
}



@media(min-width:768px) {
    #about {
        min-height: 70vh;
        background-size: cover;

    }

    .subcontainer {
        width: 90%;
        margin: auto;

    }

    .descriptionHero {
        flex-direction: row;

    }

    .skillsHero {
        margin: 10px;
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    section {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 6rem;


    }

    .leftText {
        font-size: larger;
        padding: 20px;
        border-radius: 15px;
    }

    .leftText h2 {
        font-size: xx-large;
    }
}