.cards {
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* margin-top: 20px; */
    /* min-height: 1000px; */

}

.cards em {
    text-align: center;
}


.sectionHeader {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-top: 2px solid #333232;
    margin-top: 5px;
    padding-top: 20px;
}

@media(min-width:768px) {

    .cardContainers {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media(max-width:768px) {
    .cardContainers {
        width: 90%;

    }
}