
body {
    background-color: #1C1C3C;
    color: var( --text-color);
    overflow-x: hidden;
}

em {
    background-color: var(--highlight-color);
    padding: 3px;
    color: white;
}

@media(min-width:768px) {
    em {
        font-size: large;
    }
}

@media(min-width:1441px) {

    body,
    em,
    a {
        font-size: x-large;
    }
}